.container {
    margin-top: 50px;
}
.container__content {
    margin: 0 auto;
    max-width: 500px;
    padding: 40px 60px;
    border-radius: 3px;
    border: 2px solid #40719c;

}
.heading {
    margin-bottom: 20px;
}
.error {
    color: red;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 20px;
}
.birthday {
    width: 100%;
}
.form__notice {
    color: red;
}
.flabel {
    min-width: 110px;
    text-align: center;
    color: #fff;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 2px;
    background-color: #71ad48;
    border: 1.5px solid #40719c;
}
.flabel span {
    color: red;
}
.form__select {
}
.finput {
    width: 100%;
    border: 1.5px solid #40719c;
    outline: none;
    border-radius: 2px;
    padding: 6px;
}
.form__value {
    flex: 1;
    margin-left: 20px;
}
.fomr__image {
    /* max-width: 300px; */
}
.image {
    width: 50%;
}
.form__link {
    text-decoration: none;
}
.form__file {
    border: none;
}
.form__gender {
    position: relative;
    user-select: none;
    padding-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.input__gender {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #71ad48;
    border: 1.5px solid #40719c;
}
.checkmark::after {
    content: "";
    top: 50%;
    left: 50%;
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #71ad48;

    transform: translate(-50%, -50%);
}
.input__gender:checked ~ .checkmark {
    background-color: #fff;
}
.input__gender:checked ~ .checkmark::after {
    display: block;
}
.select {
    width: 100%;
    position: relative;
}
.form__select {
    cursor: pointer;
    appearance: none;
}
.focus {
    position: absolute;
    display: block;
    top: 75%;
    right: 10px;
    border-width: 10px;
    border-style: solid;
    transform: translateY(-75%);
    border-color: #71ad48 transparent transparent;
}
.form__submit {
    padding: 10px 40px;
    border-radius: 6px;
    background-color: #71ad48;
    border: 1.5px solid #40719c;
    color: #fff;
    margin: 40px auto 0;
    cursor: pointer;
    display: block;
}
